.header {
	padding-top: s(1, header);
	height: 400px;

	@include under(md) {
		padding-top: 70px;
		height: 280px;
	}

	&__logo {
		@include center('x');
		top: s(1, header) + s(1, body) + 32px;
		height: 87px;
		width: 304px;

		@include under(md) {
			width: calc(100% - 200px);
			top: 125px;
		}
	}
}
