.splash {
		height: 100%;
		width: 100%;
		margin: 0px auto;
		background-image: url('../../images/COMINGSOON.jpg');
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}
