.terms {

  &__paragraph {
    @extend %paragraph-small;
    padding-left: 456px;

    i {
      font-style: italic;
    }

    li:before {
      content: "- ";
    }

    @include under(md) {
      padding-left: 0;
    }
  }

  &__photo-container {
    width: 100%;
    max-width: 100%;
  }

  &__link-container {
    width: 220px;
    display: none;
    padding-top: s(3);
    text-align: center;

    @include under(md) {
      display: block;
      @include center('x');
    }

  }

  &__link {
    @extend %link;
    font-weight: 200;
    color: c(dark-brown);

    &:hover,
    &:active {
      color: c(dark-brown);
    }
  }

  &__txt {
    @extend %label-select;
    border-bottom: 1px solid c();

    &:after {
      content: " \0BB \020";
    }
  }
}
