%caption {
    font-family: f(sans);
    font-size: 11px;
    font-weight: normal;
    color: c();
    text-transform: uppercase;
}

%caption-description {
    @extend %caption;
    font-family: f(inputs);
    // font-weight: italic;
}

%caption-out-of-stock {
    @extend %caption;
    font-weight: 200;
    color: c(gold);
    text-transform: none;
}
