.menuSocial {
	display: flex;
	justify-content: center; //antes space-between. Temporalmente centrado hasta que se agregue twitter 
	@include under(xs) {
		flex-direction: column;
		text-align: center;
	}
	&__link {
		@extend %link-italic-footer;
		letter-spacing: 5px;
		margin-right: s(5);
		@include under(xs) {
			height: 23px;
			margin-right: s(0);
			margin-bottom: s();
			padding: 7px;
			background-color: c(light);
		}
		&:last-of-type {
			margin-right: 0;
		}
	}
}
