.menuTop {

	@include under(sm) {
			display: none;
	}

	$top: 2px;
	background-color: c(white);
	padding-top: 8px;
	padding-bottom: 8px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__col {
		display: inherit;
	}

	&__logo {
		@include center('x');
		height: 11px;
		width: 72px;
		top: $top;
		display: none;
	}

	&__menuLang,
	&__link-login {
		margin-right: s(5);
	}

	&__link,
	&__searchbar {
		@extend %link-italic;
	}

	&__searchbar {
		position: relative;
		top: $top;
	}

	&__link {
		&--menuLang {
			&:nth-of-type(2) {
				position: relative;
				left: -4px;
			}
			@include  delimiter("/",-4px, 0px)
		}

		&-user{
			@extend %link-user;
		}
		// &-delimiter {
		// 	position: relative;
		// 	left: -4px;
		// }
	}
}
