.menuCollections {
  @include pageMenuComponent(566px);

  &__link-container {

    @include under(md) {
      width: 100%;
      margin: 0 auto;
      margin-bottom: s();
      display: block;
      text-align: center;
    }
  }

  &__link {

    @include under(md) {
      @include delimiter('|', 10px, 0px);
    }
  }
}
