@mixin pageMenuComponent($max-width) {
	&__link-container {
		width: 100%;
		max-width: $max-width;
		margin-bottom: s();
		text-align: center;
		line-height: lh(md);

		@include over(sm) {
			display: flex;
			justify-content: space-between;
			margin-left: auto;
			margin-right: 0;
			padding-right: s(5);
		}
	}
	&__link {
		@extend %link;
		@include selected-link(c(brown), none);

		@include under(sm) {
			@include delimiter('|', 10px, 0px);
			line-height: lh(md);
		}
	}
}
