@mixin selectComponent {
  @extend %option;
  padding-left: s();
  border: transparent;
  border-top: 1px solid c();
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
  outline: none;

  &__container {
    width: 100%;
    margin-bottom: s(3);
    display: flex;
    justify-content: space-between;

    @include under(xs) {
      margin-bottom: 0;
      flex-direction: column;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

  }

  &__box,
  &__delete-container {
    width: 100%;
    margin-bottom: 0;

    &--bag {
      @include under(sm) {
        margin-bottom: s(3);
      }
    }

    @include under(sm) {
      text-align: center;
      text-align-last: center;
    }

    &:nth-of-type(1) {
      margin-right: s(2);

      @include under(xs) {
        margin-right: 0;
      }
    }
  }

  // &__delete-container {
  //   @include under(xs) {
  //     margin-bottom: s(5);
  //   }
  // }

  &__delete-link {
    @extend %link-italic;
    margin-left: 16px;

    @include under(bag) {
      font-size: 14px;
    }

    @include under(sm) {
      margin-left: 0;
      font-size: 16px;
    }
  }

  &__label {
    @extend %label-select;
    padding-left: s();
    cursor: pointer;

    &:after {
      content: " \0BB \020";
    }

    @include under(bag) {
      font-size: 14px;
    }

    @include under(sm) {
      font-size: 16px;
    }
  }
}
