.mediaProducts {

    &__img {
        width: 100%;
        display: block;
    }

    &__ttl-container {
      @include under(sm) {
        margin-bottom: s(3);
        display: flex;
        justify-content: center;
      }
    }

    &__ttl {
      @extend %title;
      float: right;
      margin-bottom: s();
    }

    &__related {
      padding-top: s(10);
        &-row {
          background-color: c(white);
        }
      @include under(sm) {
        padding-top: 0;
      }
    }

    &__caption {
        @extend %caption;
        float: right;
        clear: both;
        line-height: lh(sm);

        &--description {
            @extend %caption-description;
        }
    }

    &__price {
        @extend %number;
        line-height: lh(md);
        &--container {
            width: auto;
            position: relative;
            float: right;
            clear: both;
        }

        &--discounted {
            @extend %number-gold;
        }

        &--discountee {
            text-decoration: line-through;
        }

        &--related {
          float: right;
          clear: both;
          text-decoration: none;
        }

        &--out-of-stock {
            float: right;
            clear: both;
            line-height: lh(md);
            @extend %caption-out-of-stock;
        }
    }

    &__transition {
        margin-bottom: s(5);
        &-hide {
            transition: opacity 0.5s ease;
            opacity: 0;
            margin-right: s(5);
            @include under(md) {
                opacity: 1;
            }
        }

        &:hover {
            .mediaProducts__transition-hide {
                opacity: 1;
            }
        }
    }
}
